name: build-test-vm

on:
  workflow_dispatch: # adds ability to run this manually
    inputs:
      tag:
        description: 'Tag to use for the Docker images'
        type: string
        required: true
      archs:
        description: 'Architecture to build for'
        type: string
        required: false
        default: '["amd64"]'
  workflow_call:
    inputs:
      skip:
        description: 'Changes this action to perform a no-op'
        type: boolean
        required: false
      tag:
        description: 'Tag to use for the Docker images'
        type: string
        required: true
      archs:
        description: 'Architecture to build for'
        type: string
        required: false
        default: '["amd64"]'
    outputs:
      vm-postgres-16-bullseye:
        description: 'image name for postgres:16-bullseye, VM-ified'
        value: ${{ jobs.tags.outputs.vm-postgres-16-bullseye }}

env:
  IMG_POSTGRES_16_BULLSEYE: "neondatabase/vm-postgres-16-bullseye"
  # using image built in the same workflow
  IMG_DAEMON: "neondatabase/neonvm-daemon"
  TARGET_ARCH: "amd64"

defaults:
  run:
    shell: bash -euo pipefail {0}

jobs:
  # note: this tags job must be separate and NOT skipped with inputs.skip, so that way the workflow
  # itself still succeeds, while not doing anything when called by the release workflow.
  tags:
    outputs:
      vm-postgres-16-bullseye: ${{ steps.show-tags.outputs.vm-postgres-16-bullseye }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - id: show-tags
        run: |
          echo "vm-postgres-16-bullseye=${{ env.IMG_POSTGRES_16_BULLSEYE }}:${{ inputs.tag }}" >> $GITHUB_OUTPUT

  build:
    # nb: use format(..) to catch both inputs.skip = true AND inputs.skip = 'true'.
    if: ${{ format('{0}', inputs.skip) != 'true' }}
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.archs) }}
    runs-on: ubuntu-latest
    outputs:
      vm-postgres-16-bullseye: ${{ steps.tags.outputs.vm-postgres-16-bullseye }}
      daemon: ${{ steps.tags.outputs.daemon }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - id: tags
        run: |
          echo "vm-postgres-16-bullseye=${{ env.IMG_POSTGRES_16_BULLSEYE }}-${{ matrix.arch }}:${{ inputs.tag }}" | tee -a $GITHUB_OUTPUT
          echo "daemon=${{ env.IMG_DAEMON }}-${{ matrix.arch }}:${{ inputs.tag }}" | tee -a $GITHUB_OUTPUT

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          # Disable cache on self-hosted runners to avoid /usr/bin/tar errors, see https://github.com/actions/setup-go/issues/403
          cache: false
        # Sometimes setup-go gets stuck. Without this, it'll keep going until the job gets killed
        timeout-minutes: 10
      - name: Build daemon image
        run: make TARGET_ARCH=${{ matrix.arch }} docker-build-daemon
        env:
          IMG_DAEMON: ${{ steps.tags.outputs.daemon }}

      - run: make bin/vm-builder
        env:
          IMG_DAEMON: ${{ steps.tags.outputs.daemon }}

      - name: Load base image tags and SHAs into env
        uses: ./.github/actions/deps-versions
        with:
          arch: ${{ matrix.arch }}

      - name: build ${{ steps.tags.outputs.vm-postgres-16-bullseye }}
        run: |
          ./bin/vm-builder \
              -src postgres:16-bullseye \
              -dst ${{ steps.tags.outputs.vm-postgres-16-bullseye }} \
              -daemon-image ${{ steps.tags.outputs.daemon }} \
              -build-arg ALPINE_IMG_TAG=$ALPINE_IMG_TAG \
              -build-arg ALPINE_IMG_SHA=$ALPINE_IMG_SHA \
              -build-arg RUST_IMG_TAG=$RUST_IMG_TAG \
              -build-arg RUST_IMG_SHA=$RUST_IMG_SHA \
              -target-arch linux/${{ matrix.arch }} \
              -spec tests/e2e/image-spec.yaml
