name: build-test-vm

on:
  workflow_dispatch: # adds ability to run this manually
    inputs:
      tag:
        description: 'Tag to use for the Docker images'
        type: string
        required: true
  workflow_call:
    inputs:
      tag:
        description: 'Tag to use for the Docker images'
        type: string
        required: true
    outputs:
      vm-vela:
        value: ${{ jobs.tags.outputs.vm-vela }}

env:
  # using image built in the same workflow
  IMG_DAEMON: "neondatabase/neonvm-daemon"
  TARGET_ARCH: "amd64"

defaults:
  run:
    shell: bash -euo pipefail {0}

jobs:
  build:
    strategy:
      matrix:
        arch: ${{ env.TARGET_ARCH }}
    runs-on: ubuntu-latest
    outputs:
      vm-vela: ${{ steps.tags.outputs.vm-vela }}
      daemon: ${{ steps.tags.outputs.daemon }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - id: tags
        run: |
          echo "vm-vela=${{ github.repository }}/vela-vm-${{ matrix.arch }}:${{ inputs.tag }}" | tee -a $GITHUB_OUTPUT
          echo "daemon=${{ env.IMG_DAEMON }}-${{ matrix.arch }}:${{ inputs.tag }}" | tee -a $GITHUB_OUTPUT

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'
          # Disable cache on self-hosted runners to avoid /usr/bin/tar errors, see https://github.com/actions/setup-go/issues/403
          cache: false
        # Sometimes setup-go gets stuck. Without this, it'll keep going until the job gets killed
        timeout-minutes: 10
      - name: Build daemon image
        run: make TARGET_ARCH=${{ matrix.arch }} docker-build-daemon
        env:
          IMG_DAEMON: ${{ steps.tags.outputs.daemon }}

      - run: make bin/vm-builder
        env:
          IMG_DAEMON: ${{ steps.tags.outputs.daemon }}

      - name: Load base image tags and SHAs into env
        uses: ./.github/actions/deps-versions
        with:
          arch: ${{ matrix.arch }}

      - name: build ${{ steps.tags.outputs.vm-vela }}
        run: |
          ./bin/vm-builder \
              -src alpine:${ALPINE_IMG_TAG}${ALPINE_IMG_SHA} \
              -dst ${{ steps.tags.outputs.vm-vela }} \
              -daemon-image ${{ steps.tags.outputs.daemon }} \
              -build-arg ALPINE_IMG_TAG=$ALPINE_IMG_TAG \
              -build-arg ALPINE_IMG_SHA=$ALPINE_IMG_SHA \
              -build-arg RUST_IMG_TAG=$RUST_IMG_TAG \
              -build-arg RUST_IMG_SHA=$RUST_IMG_SHA \
              -target-arch linux/${{ matrix.arch }} \
              -spec vm-examples/vela/image-spec.yaml

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha

      - name: Push to GHCR
        run: |
          for tag_name in ${{ steps.meta.tag-names }}; do
            tag=ghcr.io/${{ github.repository }}/vela-vm:${tag_name}
            docker tag ${{ steps.tags.outputs.vm-vela }} ${tag}
            docker push ${tag}
          done
