name: test
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      # permissions are required for the fgrosse/go-coverage-report action
      contents: read
      actions: read
      pull-requests: write
      # aws-actions/configure-aws-credentials
      id-token: write
    strategy:
      fail-fast: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: 'go.mod'
          go-version: '1.25'

      - uses: tj-actions/changed-files@v47.0.0
        id: changed-files
        with:
          files: |
            .github/workflows/test.yaml
            **/**.go
            "!test/"
            go.mod
            go.sum

      # run tests on PR only if there are code changes and always on main
      - name: Run Go Tests
        if: ${{ steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'pull_request' || github.ref_name == 'main' }}
        run: |
          make test

      - name: Archive code coverage results
        uses: actions/upload-artifact@v5.0.0
        if: ${{ !cancelled() && (steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'pull_request' || github.ref_name == 'main') }}
        with:
          name: code-coverage
          path: cover.out

      - name: "Code coverage report"
        uses: fgrosse/go-coverage-report@v1.2.0
        if: ${{ !cancelled() && (steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'pull_request' && github.event.base_ref == 'main') }}
        with:
          coverage-artifact-name: "code-coverage"
          coverage-file-name: "cover.out"

      - name: Create comment with html report
        uses: actions/github-script@v8.0.0
        if: ${{ !cancelled() && (steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'pull_request') }}
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
        with:
          script: |
            const commentIdentifier = "Coverage Î”"; // the same marker as in the fgrosse/go-coverage-report
            const htmlCoverageTitle = "\n ### HTML Report"

            // Get all comments on the pull request
            const { data: comments } = await github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            // Find the comment that contains the identifier
            const existingComment = comments.find(comment => comment.body.includes(commentIdentifier));
            // If there's no original comment, create a new one with hidden comment identifier
            // to make it easier to find next time
            let originalCommentBody = `<!-- ${commentIdentifier} -->No changes to the coverage.\n\n`
            if (existingComment) {
              const htmlCoverageTitleIdx = existingComment.body.indexOf(htmlCoverageTitle)
              originalCommentBody = existingComment.body

              if (htmlCoverageTitleIdx != -1) {
                originalCommentBody = existingComment.body.slice(0, htmlCoverageTitleIdx)
              }
            }

            const reportURL = "${{env.REPORT_PREFIX}}/${{env.COMMIT_SHA}}/index.html"
            const newBody = `${originalCommentBody}${htmlCoverageTitle}\n<a href="${reportURL}">Click to open</a>`;

            if (existingComment) {
              // Update the existing comment
              await github.rest.issues.updateComment({
                comment_id: existingComment.id,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: newBody,
              });
            } else {
              // Create a new comment
              await github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: newBody,
              });
            }
